p {
        color: green;
        font-weight: bold;
        border: 1px solid black;
      }

      .highlight {
        background-color: yellow;
        padding: 5px;
      }

      #main-title {
        font-size: 40px;
        color: blue;
      }

      .myButton {
        color: rgb(255, 255, 255); font-size: 24px; line-height: 24px;
        padding: 9px; border-radius: 31px; font-family: Georgia, serif;
        font-weight: normal; text-decoration: none; font-style: normal;
        font-variant-ligatures: normal; font-variant-caps: normal;
        font-variant-alternates: normal; font-variant-numeric: normal;
        font-variant-east-asian: normal; font-variant-position: normal;
        font-variant-emoji: normal; text-transform: none;
        background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
        border: 2px solid rgb(28, 110, 164); display: inline-block;
    }
.myButton:hover {
    background: #1C6EA4; }
.myButton:active {
    background: #144E75; }